  <div class="navbar-wagon navbar-default">
    <p class="navbar-left"><%= link_to icon('list')+' Cocktails list', cocktails_path %></p>
    <p class="navbar-right"><%= link_to icon("glass")+' '+icon('plus-circle')+' Add Cocktails', new_cocktail_path %></p>
    <style> p {padding: 5px;}</style>
  </div>
